<h1>Editing kontakt</h1>

<% form_for(@kontakt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :imie %><br />
    <%= f.text_field :imie %>
  </p>
  <p>
    <%= f.label :nazwisko %><br />
    <%= f.text_field :nazwisko %>
  </p>
  <p>
    <%= f.label :telefon %><br />
    <%= f.text_field :telefon %>
  </p>
  <p>
    <%= f.label :gg %><br />
    <%= f.text_field :gg %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @kontakt %> |
<%= link_to 'Back', kontakts_path %>
